<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>Óleos Essenciais</title>
</head>
<form action="http://localhost:3000/atualiza/:id">
    <div class="form-group">
        <label>Nome Comum</label>
        <input type="text" class="form-control" name="nomecomum" placeholder="...">
    </div>
    <div class="form-group">
        <label>Nome Cientifico</label>
        <input type="text" class="form-control" name="nomecientifico" placeholder="...">
    </div>
    <div class="form-group">
        <label>Foto</label>
        <input type="text" class="form-control" name="foto" placeholder="...">
    </div>
    <div class="form-group">
        <label>Descrição</label>
        <textarea class="form-control" name="descricao" rows="3"></textarea>
    </div>
    <input type="submit" class="button" value="Editar">
</form>

</html>