<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Listar Oleos Essenciais</title>

  <!-- Bootstrap -->
  <link href="css/sticky-footer-navbar.css" rel="stylesheet">
  <link href="css/estilo.css" rel="stylesheet">
  <link href="css/navigationBar.css" rel="stylesheet">
</head>

<body>
      <a href="/" class="navbar-brand">
        <span class="img-logo">Aroma</span>
      </a>

<div class="principal" >
  <div class="logo" id="formatar">
    <h2 >Lista Oleos Essenciais</h2>
  </div>
 
    <div class="table-signin" >
     <dir class="table-responsive">
      <table class="table" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Nome Cientifico</th>
            <th scope="col">Foto</th>
            <th scope="col">Descrição</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i<oleo.length; i++) { %>
          <tr>
            <th scope="row"><%= oleo[i].nome_comum %></th>
            <td><%= oleo[i].nome_cientifico %></td>
            <td><img src="<%= oleo[i].foto%>" style="width: 100px"</td>
            <td><%= oleo[i].descricao %></td>
            <td></td>


          </tr>
          <%}%>
        </tbody>
      </table>
    </dir>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>